<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OscRapidUseRight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<userSettings>
        <OscRapidUseRight.Properties.Settings>
                <setting name="Key" serializeAs="String">
                        <value>F11</value>
                </setting>
                <setting name="IsShiftChecked" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="IsCtrlChecked" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="IsAltChecked" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="TopMostWhenToggled" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="Host" serializeAs="String">
                        <value>127.0.0.1</value>
                </setting>
                <setting name="Port" serializeAs="String">
                        <value>9000</value>
                </setting>
                <setting name="Interval" serializeAs="String">
                        <value>16</value>
                </setting>
        </OscRapidUseRight.Properties.Settings>
    </userSettings>
</configuration>